main {
    background-color: burlywood;

    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 900px;
}

section {
    color: blue;
    text-align: center;
    background-color: cornflowerblue;
    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

h1 {
    text-align: center;
    background-color: burlywood;
}  

div {
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 10px;

}

h5 {
    color: crimson;
    background-color: cyan;
    margin-left:  70px;
    margin-right: 70px ;
    display: block;
    text-align: center;
    padding: 4px;
}

p {
    background-color: cyan;
    padding: 4px;
}

a {
    margin: 15px 20px;
    background-color: aquamarine;
    padding: 4px;

}